# Supabase
VITE_SUPABASE_URL=https://vauutraudamtlygrowki.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZhdXV0cmF1ZGFtdGx5Z3Jvd2tpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3NzgyMjYsImV4cCI6MjA5NDM1NDIyNn0.A-a-pYiBXmE0x22XQ-LmHhfsxNHZKSLtI-lyPJYwOmk

# Deriv OAuth
VITE_DERIV_APP_ID=33gBi3mWY8Bd6sVsDRLrO
